.cal-main{

    border: 2px solid rgb(70, 70, 70);
    border-radius: 5px;
    width: 250px;

}
#display{
    width: 88%;
    margin: 10px;
    font-size: 25px;
}

.btn-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.cal-btn{
    width:59px ;
    height: 45px;
    margin: 3px;
}